*.zip
*.pcd
CMakeFiles
build
;
00_Benchmark_and_Research
01_Supporting_Processes
02_Requirements
;03_Design
04_Engineering/00_CodeGen
04_Engineering/02_Development_Tools/*
04_Engineering/04_Build
!04_Engineering/02_Development_Tools/movpy
!04_Engineering/02_Development_Tools/scons_tools
04_Engineering/05_Deliverables
*.pj
*.obj
*.bin
*.exe
*.dll
*.pdb
*.dmp
*.log
*.xlog
*.ilk
*.bsc
Sconscript.py
*.lib
*.tlog
*.sbr
*.cache
*.ipch
*.sdf
*.opensdf
*.suo
*.unsuccessfulbuild
*.idb
Debug
SConscript_sim.py
.sconsign.dblite
Debug.xml
*.dll_ren
*.pdb_ren
*.bak
*.orig
